.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.left {
  min-width: 70px;
  flex: 0.5;
  background-color: white;
  color: gray;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.left > input {
  border: none;
  width: 100%;
}

.right {
  display: flex;
  align-items: center;
}

.right > h4 {
  margin-left: 10px;
}
